%table.table.table-hover
  %tr
  - @comments.each do |comment|
    %tr
      %td= comment.user.email
      %td= link_to "Photo", comment.memory.photo_url
      %td= comment.text

      %td= link_to 'Edit', edit_comment_path(comment)
      %td= link_to 'Destroy', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }
